@model IEnumerable<ProvaCandidato.Data.Entidade.Cliente>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="content">
        @Html.Partial("Lista", this.Model);
    </div>
</body>
</html>
@section scripts
{
    <script>

        function ExecutarBusca() {

        var filtroNome = $("#txtPesquisar").val();

        $.ajax({
        url: '@Url.Action("BuscarPorNome", "Clientes")',
        method: "GET",
        data: { "nome": filtroNome },
        success: function (data) {
        $("#content").html(data);
        }
        });
        }



    </script>
}